@import 'style_textFormatting.css';
@import 'style_pageFormatting.css';

.container {
    /*dsipaly mode : Grid*/
    /* grid setup */
    grid-template-columns: auto;
    grid-template-rows: auto minmax(300px, 1fr) auto 1fr;
    grid-template-areas: "hd" "sd" "ma" "ft";
}



.sidebarQuickLinksCards {
    display: none;
}

/* ---------------MAIN PAGE Container Boxes-------------- */

.content>img.full-width {
    object-fit: cover;
    height: auto;
    width: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ---------------link boxes-------------- */

.links-box {
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-items: center;
    flex-flow: column;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.089);
    background-color: rgb(243, 243, 243);
}

.links {
    margin: 2px;
    padding: 2px;
}

.links:hover {
    border-radius: 5px;
    border: dashed;
    border-width: 1px;
    border-color: rgb(104, 104, 104);
    transition: .2s ease;
    background-color: rgba(175, 153, 153, 0.288);
}

/* Media Queries */

@media(max-width:599px), (max-height:600px) {
    .header {
        max-height: 100px;
    }
    .header>.titles {
        position: relative;
        top: -1.1em;
    }
    .avatar {
        transition: 2s ease;
        position: sticky;
        width: 100px;
        height: 100px;
        left: calc(100% - 120px);
        filter:  grayscale(100%);
    }
}

/* medium screens */

@media(min-width:600px) and (max-width:1023px) {
    body {
        font-size: 1em;
    }
    .container {
        /* grid setup */
        grid-template-columns: repeat(3, 1fr) 150px;
        grid-template-rows: auto auto auto;
        grid-template-areas: "hd hd hd hd" "ma ma ma sd" "ft ft ft ft";
    }
    .content>img.full-width {
        width: calc(100vw - 20px);
        margin-right: -5vw;
        margin-left: calc(-5vw - 10px);
    }
}

/* larger screens */

@media(min-width:1024px) {
    body {
        font-size: 1em;
    }
    .container {
        /* grid setup */
        grid-template-columns: repeat(3, 1fr) 150px;
        grid-template-rows: auto auto auto;
        grid-template-areas: "hd hd hd hd" "ma ma sd sd" "ft ft ft ft";
    }
    iframe.sidebarQuickLinks {
        display: none;
    }
    .sidebarQuickLinksCards {
        display: flex;
    }
    .content>img.full-width {
        width: calc(100vw - 20px);
        margin-right: -5vw;
        margin-left: calc(-5vw - 10px);
    }
}